@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5ff;
}
.header-section {
    background-image: url("../images/header/header-bg.png");
    background-repeat: no-repeat;
}
.header-section nav {
    background-color: transparent !important;
    padding: 15px 0px;
}
.navbar-nav a{
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;

}
.navbar-nav a:hover,.navbar-nav li.active a {
    font-weight: 500;
}
.navbar-nav
{
    padding-left: 100px;
}
.navbar-nav li{
    width: 80px;
    position: relative;
}
.navbar-nav li.active::after, .navbar-nav li:hover::after {
    width:30%;
    height: 2px;
    background-color:#ee6c38;
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 8px;
}
.nav-btn::after{
    content: none !important;
}
.nav-btn{width:165px !important;}
.nav-btn a{
    
    text-align: center;
    padding: 6px 22px;
    border-radius: 15px;
    background-color: #ee6c38;
    color: #fff;
}
.user-details {
    display: inline-block;
}
.user-details span {
    display: block;
    text-align: left;
}
.user-details .user {
    color: #fff;
    display: block;
}
.user-details .userd 
{
    color:#ee6c38;
}
.stories-details
{
    position: relative;
    display: block;
    margin-right: 29px;
}
.stories-details img{
    max-width:48px;
    max-height: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #ee6c38;
    border-radius: 100%;
}
.stories-details .stories{
    text-align: center;
    color: #777;
    /* display: block; */
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    bottom: -20px;
    left: 3px;
}
.slider-container
{

}

.count-container{
    width: 100%;
    height: 180px;   
    object-fit: contain;
    border-radius: 9px;
    background-image: url("../images/header/Mask.png");
    position: relative;
}
.claim {
    font-size: 24px;
    font-weight: bold;
    color:#fff;
}
.count-inner{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../images/header/coins.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    width: 100%;    
    padding: 32px 16.4px 16px 19px;
}
.count-container h6{
    font-size: 15.6px;
    color: #1d232a;
    font-weight: 500;
}
.count-details-inner
{
    background-color:rgba(225, 225, 225, 0.16) ;
    border-radius: 7px;
    height: 43px;
    width:43px;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 10px 18px 0;
    padding-top: 3px;
    text-align: center;
    color: #1d232a;
    text-transform: capitalize;
    
    display: inline-block;
}
.count
{
    display: inline-block;
    padding-top: 7px; 

}
.count-mid{
    margin: 0px 10px 0px 0px;
    display: inline-block;
    line-height: 25px;
    color: #1d232a;
    font-weight: 700;
    font-size: 16px;
}

.justforyou-container
{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #1d232a;
    border-radius: 10px;
    padding: 8px 19px 8px;
    margin: 12px 0px 14px 0;
}
.justforyou-container .col
{
    padding-right:8px;
    padding-left:8px
}
.justforyou-container h4{
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.56;
}
.jfy-img-ctn img{
    max-width: 99px;
   max-height: 97px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.jfy-img-ctn span{  
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    display: block;
    text-transform: capitalize;
    margin-top: 3px;
}
.slider-container .row .col-5{ padding-right:10px}

.slider-container .row .col-3{ padding-left:10px; }

.slider-container .row .col-4{ padding-right:5px; padding-left:5px;}
.slider-container {
    padding-bottom: 30px;
}
.carousel-indicators {
    position: relative;
    bottom: -17px;
}
.carousel-indicators li{
    width:4px !important;
    border-radius: 2.9px;
    height:4px;
}
.carousel-indicators li.active{
    width:24px !important;
    background-color: #ee6c38;
}
.carousel-item img{min-height: 353px;}

.rank-ctn{
    margin: 0px 0px 17px 0px;
    padding: 19px 22.5px 21px 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #1d232a;
}
.rank-ctn-left img{
    max-width: 49px;
    max-height: 46px;
    display: inline-block;
}
.rank-detials {
    display: inline-block;
    margin-left: 5px;
}
.rank-ctn-left .myrank{
    font-size: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    text-transform: capitalize;

}
.rank-ctn-left .myrank-details{
    font-size: 14px;
  font-weight: bold;
  color: #ee6c38;
}
.rank-ctn-right{
    float: right;
    text-align: center;
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

.rank-ctn-right span{
    display: block;

}
.rank-ctn-left{
float: left;
}
.clearfix
{
    clear: both;
}


.top-winners-ctn {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #1d232a;
    padding: 12px 0 27px;
    margin: 17px 0 14px 0px;
    border-radius: 9px;
}
.top-winners-ctn h4{
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    font-weight: 600;
    margin: 0 0px 12px 13px;
 }
.winner-list
{
    background-color: #2b2e35;
}
.winner-list table td {
    border-top: 0px;
    border-bottom: solid 1px #33373c;
    padding:7px 0px;
}
.winner-list table tr:last-child td {
border-bottom:0px;
}
.winner-list table td:first-child {
    text-align: center;
}
.winner-list img{
    width:20px;
    height: 29px;
}
.winner-details {
    background-color: #2b2e35;
}
 .winner-name{
    font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.winner-likes{
    font-size: 11px;
  font-weight: 500;
    color: #f4ba1f;
}

/* sec section start here */
.sec-section {
    padding: 32px 0px;
    text-align: center;
}
.sec-section .row{
    padding: 20px;
    background: #fff;
    border-radius: 16px;
}
.sec-section .thumb-title
{
    text-align: center;
    color: #444;
    font-size: 21px;
    height: 60px;
    display: inline-flex;
    padding-top: 15px;
}
.sec-section .thumb-item 
{
display: block;
}
/* thrd section start here*/
.thrd-section{
    padding: 32px 0px;}
.thrd-section .row .thrd-space, .thrd-section  .col-md-3, .dealoftheday .col{
    padding: 20px;
    background: #fff;
    border-radius: 16px;
}
.thrd-space h4, .exclusive h4 {
    font-size: 18px;
    color: #1e253a;
    line-height: 27px;
}
.thrd-space
{
    margin-right:10px;
}
.thumb-ctn
{
    position: relative;
    border-radius: 8px;
    padding: 15px;
}
.thumb-ctn h3 {
    font-size: 20px;
    font-weight: 600;
}
.thumb-ctn p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.07;
    margin-top: 30px;
    margin-right:20px;
}
.thumb-ctn span.price-ctn

{font-size: 25.6px;
background-color: rgba(0, 0, 0, 0.10);
border-radius: 24px;
display: inline-block;
padding: 5px 10px; 
font-weight: 700;
}
.thumb-ctn a{
    font-size:15px;
    color: #fff !important;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left:15px;
    padding-right:20px;
    background-image: url("../images/thrd-section/arrow-forward-outline.svg");
    background-position: right ;
    background-repeat: no-repeat;
}
.deal-loan
{
    background: rgb(242,211,167);
background: linear-gradient(0deg, rgba(242,211,167,1) 0%, rgba(246,238,231,1) 100%);
height:253px;
}
 .img-icon{
    width:38px;
    height:38px;
    text-align: center;
    vertical-align: middle;   
    border-radius: 100%;
    margin-right: 15px;
}
.deal-loan .img-icon{ background: rgb(242,211,167);
    background: linear-gradient(0deg, rgba(242,211,167,1) 0%, rgba(246,238,231,1) 100%);
}
.deal-cash
{
    background: rgb(39,195,127);
    background: linear-gradient(0deg, rgba(39,195,127,1) 0%, rgba(38,242,162,1) 100%);
height:253px;
}
.deal-cash .img-icon
{
    
    background: rgb(39,195,127);
    background: linear-gradient(0deg, rgba(39,195,127,1) 0%, rgba(38,242,162,1) 100%);
}
.deal-gold 
{
    background: rgb(254,209,112);
background: linear-gradient(0deg, rgba(254,209,112,1) 0%, rgba(253,228,164,1) 100%);
height:253px;
}
.deal-gold .img-icon{ 
    background: rgb(254,209,112);
background: linear-gradient(0deg, rgba(254,209,112,1) 0%, rgba(253,228,164,1) 100%);}
.exclusive-ctn
{
    background-color: #b34fe5;
    padding: 15px 15px 15px 15px;
  border-radius: 8px;
  background-image: url("../images/thrd-section/mobile-background.webp");
  background-position: right bottom;
  height:253px;
  background-size: 251px  243px;
  background-repeat: no-repeat;
}
.exclusive-ctn img
{
    width: 41.8px;
    height: 17px;
    margin: 0 0px 16px 0;
}
.offer-ctn {
    font-size: 28px;
    color:#fff;
    line-height: 43px;
display: block;

font-weight: 600;
}
.offer-value {
    font-weight: 600;
    display: block;
    font-size: 45px;
    color:#fff;
    line-height: 47px;
    
}
.dealoftheday h3{
    font-size:24px;
    color:#212b33;
    font-weight:700;
}
.dealoftheday a{
    font-size:18px;
    color:#777;
    font-weight:500;
}
.dealoftheday  .owl-stage 
{
    padding-left:0px !important
}
.dealoftheday  .owl-nav{position: absolute;
    top: 22%;
    width: 100%;
    height: 100%;}
    .dealoftheday  .owl-prev
    {
        position: absolute;
        left: 0px;
        width: 24px;
        height: 74px;
        background-color: #fff !important;
        margin: 0px !important;
        
    border-top-left-radius: 0px !important;
    
    border-bottom-left-radius: 0px !important;
        
    }
    .dealoftheday  .owl-next
    {
        position: absolute;
        
    border-top-right-radius: 0px !important;
    
    border-bottom-right-radius: 0px !important;
        right: 0px;
        width: 24px;
        height: 74px;
        background-color: #fff !important;
        margin: 0px !important;
    }
    .dealoftheday  .owl-prev span,   .dealoftheday  .owl-next span
    {
       color:#777;
       font-size:31px;
    }
    .dealoftheday  .owl-prev:focus,   .dealoftheday  .owl-next:focus
    {
        
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;

    }
    .dealoftheday  .owl-carousel
    {
        position:relative;
    }